<div class="about-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 style="font-size: 150px; color: white;">About</h1>
				<h2 style="color: #333;">Welcome to jacketby !</h2>
				<h2 style="color: #333;">その一枚が、あなたの宝物に</h2>
			</div>
			<div class="col-md-12">
				<h1 style="font-size: 150px; color: white;">Contact</h1>
				<h2 style="color: #333;">お問い合わせは下記の電話番号まで</h2>
				<h2 style="color: #333;">TEL: 026 - 9999 -9999</h2>
			</div>
			<div class="col-md-12">
				<h1 style="font-size: 150px; color: white;">THANK YOU !</h1>
			</div>
		</div>
	</div>
</div>





