<div class="thanks-content">
	<div class="container thanks-content">
		<div class="row">
			<h1>Thanks</h1>
				<p>商品の配送状況は、</p>
				<p>マイページの購入履歴</p>
				<p>よりご確認下さい。</p>

				<p><%= link_to "マイページへ", edit_customers_customer_path(current_customer) %>
					<%= link_to "Topページへ", root_path %>
				</p>
		</div>
	</div>
</div>
