// Place all the styles related to the customer/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
    margin: 50px 0px;
}
.log-content {
    background-image: url(image-path("audio.jpg"));
    background-size: cover;
    background-position: center;
    height: 800px;
}
.sign-content {
    background-image: url(image-path("audio.jpg"));
    background-size: cover;
    background-position: center;
    height: 1000px;
}
.btn{
    width: 500px;
}
.kazu{
    margin: 30px;
}
