// Place all the styles related to the customer::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thanks-content {
	background-image: url(image-path("yellow.jpg"));
	background-size: cover;
    background-position: center;
    height: 1000px;
}
.about-content {
	background-image: url(image-path("group.jpg"));
	background-size: cover;
    background-position: center;
    height: 1000px;
}
.unsub-content {
	background-image: url(image-path("group.jpg"));
	background-size: cover;
    background-position: center;
    height: 1000px;
}
.unsub-box {
	background-color: #9e9e9ec9;
    margin-top: 71px;
}
.chat-container {
	background-color: rgba(158, 158, 158, 0.57);
  	padding: 20px;
 	margin: 60px;
}
.chat-content {
	background-image: url(image-path("audio.jpg"));
  	background-size: cover;
  	background-position: center;
  	height: 1000px;
}