<%= f.label :在庫情報 %><br>
	<p>入荷日時</p>
	<%= f.date_field :arrival_time, class:"form-control", placeholder: "2019/12/27" %>
	<p>入荷数</p>
	<%= f.number_field :arrival_count, class:"form-control", placeholder: "10" %>