 <select>
    <button href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">レーベル</button>
          <div class="dropdown-menu">
            <option>レーベル</option>
            <% @labels.each do |labels| %>
            <option><%= labels.name %></option>>
            <% end %>
          </select>