<button type="button" class="col-lg-2 btn-xs btn-success show-btn" disabled="disabled">住所2</button>
<div class="col-sm-10" style= "padding:0px,4px;">
<%= f.text_field :postal_code,id:"customer_postal_code",placeholder:"郵便番号",rows: 7,class: "form-control",:size => "10*10"%>
</div>
<div class="col-sm-10" style= "padding:15px;">
<%= f.text_area :address,id:"customer_adress",placeholder:"住所2",rows: 7,class: "form-control",:size => "40*40"%>
</div>