<table>
	<thead>
		<tr>
			<th>顧客名</th>
			<th>メールアドレス</th>
			<th>登録日</th>
			<th>購入した日</th>
			<th>詳細ページへ</th>
		</tr>
	</thead>
	<tbody>
		<!-- % @customers.all.each do |customer| % -->
			<tr>
				<td>宮下房子<!-- %= customer.name % --></td>
				<td>husahusa@gmail.com<!-- %= customer.mail_address % --></td>
				<td>2019/12/11<!-- %= customer.created_at % --></td>
				<td>購入した日</td>
				<td>詳細ページへ<!-- %= link_to "詳細ページへ", customer_path(customer.id) % --></td>
			</tr>
		<!-- % end % -->
		<!-- %= paginate @customers, class: "paginate" % -->
	</tbody>
</table>
