
<div class="container">
  <h2>受注一覧</h2>
  <div class="row">
    <div class="col-xs-12" >
      
        <table class="table table-responsive">
        <thead >
          <tr class="col-xs-12">
            <th class="col-xs-2">受注者：みーはー(リンク)</th>
            <th class="col-xs-2">受注日：今日</th>
            <th class="col-xs-6"></th>
            <th class="col-xs-2">ステータス</th>
          </tr>
        </thead>
        <tbody>
          
          <tr class="col-xs-12">
            <u>注文内容</u>
            <td></td>
            <td>ジャケバイにできることはまだあるかい</td>
            <td>受注枚数：10枚</td>
            <td>単価：¥ 800 </td>
            <td>¥ 8000</td>
          </tr>

          </ul>
        </tbody>
        </table>
    </div>
  </div>
</div>