<button type="button" class="btn btn-success" disabled="disabled">追加住所</button>
<%= f.text_field :postal_code,id:"customer_postal_code",placeholder:"郵便番号",rows: 7,class: "form-control",:size => "10*10"%>
<%= f.text_area :address,id:"customer_adress",placeholder:"住所",rows: 7,class: "form-control",:size => "40*40"%>