<section class="container clearfix" >
	<div class="row">
		<div class="col-md-6">
			<%= render 'admin/artists/artist' %>
		</div>
		<div class="col-md-6">
			<%= render 'admin/labels/label' %>
			<%= render 'admin/categories/category' %>
		</div>
	</div>
</section>