// Place all the styles related to the admin::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-container {
  background-color: white;
  padding: 50px 40px;
  margin-bottom: 50px;
}
.order-container_box {
  border: solid 1px #C0C0C0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 30px;
}