<% if @items.exists? %>
	<section class="container">
		<div class="demo-container">
	  		<div class="demo-box"></div>
		</div>
		<h2>入荷入力画面</h2>
		<%= link_to admin_arrival_items_path do %>
			<p>入荷履歴へ</p>
		<% end %>
		<div class="search">
	    	<%= render 'search' %>
	    </div>
		<table  class="table table-hover table-inverse">
			<thead>
	 			<tr>
					<th class="col-md-1">#</th>
					<th class="col-md-3">シングル/アルバム名</th>
					<th class="col-md-3">アーティスト名</th>
					<th class="col-md-2">入荷日</th>
					<th class="col-md-2">入荷枚数</th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
					<div class="item_<%= item.id %>">
						<%= render 'save',item:item %>
					</div>
				<% end %>
			</tbody>
		</table>
	</section>
<% else %>
	<div style= "height: 800px; margin-top: 300px;">
		<h4 class="text-center">お探しのアイテムがありません。</h4>
		<a href="/" class="btn-circle-cart pull-right cart-size">トップへ戻る</a>
	</div>
<% end %>
