<section class="container">
	<h2>入荷入力画面</h2>
	<div class="search">
    	<%= render 'search' %>
    </div>

	<table  class="table table-hover table-inverse">
		<thead>
 			<tr>
				<th class="col-md-1">#</th>
				<th class="col-md-3">シングル/アルバム名</th>
				<th class="col-md-3">アーティスト名</th>
				<th class="col-md-2">入荷日</th>
				<th class="col-md-2">入荷枚数</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
				<div class="item_<%= item.id %>">
					<%= render 'save',item:item %>
				</div>
			<% end %>
		</tbody>
	</table>
	<%= paginate @items, class: "paginate" %>
</section>