<div class="container">
<div class="sidebar, col-xs-2">
	<section class="categories">
		<h2 class="categories-headline">Categories</h2>
		<div class="sidebar-contents">
			<p class="categories-text">J-pop</p>
			<p class="categories-text">ロック/ポップス</p>
			<p class="categories-text">ソウル/クラブ/ラップ</p>
			<p class="categories-text">カントリー/ブルース</p>
			<p class="categories-text">ジャズ</p>
			<p class="categories-text">ヒーリング/ニューエイジ</p>
			<p class="categories-text">K-pop/ワールド</p>
			<p class="categories-text">サウンドトラック</p>
			<p class="categories-text">アニメ/ゲーム</p>
		</div>
	</section>
</div>
<div class="admin-sidebar, col-xs-2">
	<section class="admin-path">
		<h3 class="admin-path-headline">各種ページへ</h3>
		<div class="sidebar-contents">
			<p>受注一覧へ</p>
			<p>入荷履歴へ</p>
			<p>入荷入力へ</p>
		</div>
	</section>
</div>
<main class="clearfix, col-xs-10">
	<section class="items">
		<h2 class="new-items">New arrival</h2>
		<div class="example">
			<div class="example_image">
  			<%= image_tag "no_image.jpg", size: '150x150'  %>
  				<p class="btn btn-info btn-xs"><i class="glyphicon glyphicon-heart">17</p></i>
  			</div>
  			<div class="example_text">
  				<p class="btn btn-success btn-xs">残り在庫3ヶ</p>
  				<p class="btn btn-danger btn-xs">sale</p>
  				<p>シングル/アルバム名</p>
  				<p>アーティスト名</p>
  				<p>価格（税込）</p>
  			</div>
		</div>
		<div class="example">
			<div class="example_image">
  			<%= image_tag "no_image.jpg", size: '150x150'  %>
  				<p class="btn btn-info btn-xs"><i class="glyphicon glyphicon-heart">17</p></i>
  			</div>
  			<div class="example_text">
  				<p class="btn btn-success btn-xs">残り在庫3ヶ</p>
  				<p class="btn btn-danger btn-xs">sale</p>
  				<p>シングル/アルバム名</p>
  				<p>アーティスト名</p>
  				<p>価格（税込）</p>
  			</div>
		</div>
		<div class="example">
			<div class="example_image">
  			<%= image_tag "no_image.jpg", size: '150x150'  %>
  				<p class="btn btn-info btn-xs"><i class="glyphicon glyphicon-heart">17</p></i>
  			</div>
  			<div class="example_text">
  				<p class="btn btn-success btn-xs">残り在庫3ヶ</p>
  				<p class="btn btn-danger btn-xs">sale</p>
  				<p>シングル/アルバム名</p>
  				<p>アーティスト名</p>
  				<p>価格（税込）</p>
  			</div>
		</div>
		<div class="example, clearfix">
			<div class="example_image">
  			<%= image_tag "no_image.jpg", size: '150x150'  %>
  				<p class="btn btn-info btn-xs"><i class="glyphicon glyphicon-heart">17</p></i>
  			</div>
  			<div class="example_text">
  				<p class="btn btn-success btn-xs">残り在庫3ヶ</p>
  				<p class="btn btn-danger btn-xs">sale</p>
  				<p>シングル/アルバム名</p>
  				<p>アーティスト名</p>
  				<p>価格（税込）</p>
  			</div>
		</div>
		<h2 class="ranking-items">Ranking</h2>
			<p class="new-item, col-xs-3">ランキングCD1</p>
			<p class="new-item, col-xs-3">ランキングCD2</p>
			<p class="new-item, col-xs-3">ランキングCD3</p>
			<p class="new-item, col-xs-3">ランキングCD4</p>
		<h2 class="list-items">List</h2>
			<p class="new-item, col-xs-3">CD1</p>
			<p class="new-item, col-xs-3">CD2</p>
			<p class="new-item, col-xs-3">CD3</p>
			<p class="new-item, col-xs-3">CD4</p>
			<p class="new-item, col-xs-3">CD5</p>
			<p class="new-item, col-xs-3">CD6</p>
			<p class="new-item, col-xs-3">CD7</p>
			<p class="new-item, col-xs-3">CD8</p>
			<p>＋一覧をもっと見る 押したら切り替わる　JQ</p>
	</section>
	<!-- % @result.each do |item| % -->
	<!-- %end% -->
</main>
</div>