/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #f5f5f5;
}
.btn-social-flat {
  color: #484848;
  display: inline-block;
  height: 50px;
  font-size: 17px;
  line-height: 50px;
  background: #eaeef1;
  text-decoration: none;
  margin: 1em;
}

.btn-social-flat-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
}
.btn-social-flat-icon i {
  font-size: 25px;
  line-height: 48px;
  transition: .3s;
}
.btn-social-flat-text {
  display: inline-block;
  width: 87px;
  text-align: center;
}
.btn-social-flat-icon--pocket {
  background:#fd7171;
}
.btn-social-flat:hover .btn-social-flat-icon i {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}